$white-letters: #ffffff;
a {
	color: #ffffff;
}
.navbar {
	display: flex;
	gap: 50px;
	font-weight: 100;
	width: 100%;
	top: 30px;
	left: 0px;
	position: fixed;
	justify-content: center;
	color: $white-letters;
	z-index: 1;
}

.selected {
	color: $white-letters;
	font-weight: 700;
	text-decoration: underline;
	text-underline-position: under;
}

.selected:hover {
	color: $white-letters;
}
.unselected {
	font-family: noto serif;
	color: $white-letters;
}

.unselected:hover {
	color: $white-letters;
}
